*.swp

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info/
.eggs/
.installed.cfg
.Python
__pycache__
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
env/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
tests/unit/.cache/
.tox
nosetests.xml
karma-test-results.xml

# Translations
*.mo

# build packages or files that shouldn't be in repo
node_modules
bower_components
.sass-cache
.tmp
app/public/dist
app/public/styles/*.css

# Mr Developer (mac, editor, IDEs, etc)
.mr.developer.cfg
.project
.pydevproject
.vagrant
.ropeproject
.tmp
.sass-cache
.DS_store
.zedstate
.idea
.cache/
venv/
